*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
/*separar los dos lados*/

.container{
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    background-color: #fff;
    margin: 50px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 35px rgba(0,0,0,0.1);
}
/*LADO IZQUIERDO*/

.container .left_Side{
    position: relative;
    background-color: #003147;
    padding: 40px;
}
/*foto,nombre, titulo----- toda esa parte del cv 
hasta la linea que separa titulo de contacto*/

.profileText{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255,255,255,0.2);
}
/*images borde?*/

.profileText .imgBx{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}
/*imagen perfil*/

.profileText .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/*nombre*/

.profileText h2{
    color: #fff;
    font-size: 1.5em;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1.4em;
}
/*titulo (profesion)*/

.profileText h2 span{
    font-size: 0.8em;
    font-weight: 300;
}

/*seccion de contacto*/

.contactInfo{
    padding-top: 40px;
}

/*contacto (estilos)*/

.title{
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
}
/*info de contacto en general*/

.contactInfo ul{
    position: relative;
}

/*(estilos) de mi mail,github,numero....*/
.contactInfo ul li{
    position: relative;
    list-style: none;
    margin: 10px 0;
    cursor: pointer;
}
/*iconos de mi mail, github,num...*/

.contactInfo ul li .icon{
    display: inline-block;
    width: 30px;
    font-size: 18px;
    color: #03a9f4;
}

/*color y tamaño de la info de contacto*/

.contactInfo ul li span{
    color: #fff;
    font-size: 300;
}

.contactInfo .text a {
    text-decoration: none;
    color: #aed2f8;
    transition: color 0.3s;
}
.contactInfo .text a:hover {
    color: #0056b3;
}
.contactInfo .text em {
    font-style: normal;
    font-weight: bold;
}



/*SECCION EDUCACION*/

.contactInfo.education ul li {
    margin-bottom: 20px; 
}
/*tiempo(año) de facultad*/

.contactInfo.education h5 {
    color: #03a9f4;
    font-weight: 500;
    margin-bottom: 10px; 
}
/*coloque 2 h4 en el html uno es para decir 
Lo que estudio y el otro para decir mi facultad*/

.contactInfo.education h4:nth-child(2) {
    color: #fff;
    font-weight: 500;
    margin-bottom: 10px; 
}
.contactInfo.education h4 {
    color: #fff;
    font-weight: 200;
    margin-bottom: 10px; 
}
/*SECCION IDIOMAS*/


.contactInfo.language .percent {
    position: relative;
    width: 100%;
    height: 6px;
    background-color: #081921;
    display: block;
    margin-top: 5px;
}
/*para oner el porcentaje de "cuanto se" el idioma (solo para diseñar lo coloque)*/

.contactInfo.language .percent div {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #03a9f4;
}

/*LADO DERECHO*/

.container .right_Side{
    position: relative;
    background-color: #fff;
    padding: 40px;
}


/*sobre mi*/
.about{
    margin-bottom: 50px;
}

.about:last-child{
    margin-bottom: 0;
}
/*titulo sobre mi estilos*/
.tile2{
    color: #003147;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
}
/*texto sobre mi*/
p{
    color: #333;
}
/*para separar la fecha del nombre del proyecto*/
.about .box{
    display: flex;
    flex-direction: row;
    margin: 20px 0;
}
/*trabajamos sobre la "cajita"  donde esta ubicada la fecha*/
.about .box .year_project{
    min-width: 150px;
}

.about .box .year_project h5{
    text-transform: uppercase;
    color: #848c90;
    font-weight: 600;
}

.about .box .text h4{
    text-transform: uppercase;
    color: #03a9f4;
    font-size: 16px;
}
/*SECCION HABILIDADES*/
.about .skills .text h4{
    text-transform: uppercase;
    color: #03a9f4;
    font-size: 16px;
}
.skills {
    margin: 20px 0;
}
.skills .text {
    margin-bottom: 20px;
}
.skills .text h4 {
    font-size: 22px;
    margin-bottom: 10px;
}
.skills .logos {
    display: flex;
    align-items: center;
}
.skills .logos img {
    width: 40px; /* Ajusta el tamaño del logo según sea necesario */
    height: 40px;
    margin-right: 10px;
}


